# Environment Variables
# Duplicate this file into .env.local for local development. Do not push .env.local to source control.

# Authentication
# This password is required to login to the BI Dashboard
ADMIN_PASSWORD=MAPID2026

# External Integrations
# Add your n8n Webhook URL here for WhatsApp Blasting functionality
N8N_WEBHOOK_URL=https://n8n.mapid.co.id/webhook-test/wa-bi-blast

# ---------------------------------------------------------
# Growth Backend API Endpoints (Integration Ready)
# Use these environment variables below to configure the 
# newly requested Growth Endpoints once the BE is ready.
# ---------------------------------------------------------

# API untuk get user yang new register dari geo.mapid.io 
# (tidak di gift, dan is whatsapp confirm success)
NEXT_PUBLIC_API_GROWTH_NEW_REGIST=https://devserver.mapid.io/admins/users/new-registrations?start_date={date}&end_date={date}

# API untuk get user yang payment success yang terjadi dalam rentang waktu
NEXT_PUBLIC_API_GROWTH_PAYMENT_SUCCESS=https://devserver.mapid.io/admins/users/payment-success?start_date={date}&end_date={date}

# API untuk history payment per akun
NEXT_PUBLIC_API_GROWTH_PAYMENT_HISTORY=https://devserver.mapid.io/admins/users/all_payments?start_date={date}&end_date={date}

# API untuk get semua payment (success/wait purchase/cancel)
NEXT_PUBLIC_API_GROWTH_ALL_PAYMENTS=https://devserver.mapid.io/admins/users/payments/{user_id}?start_date={date}&end_date={date}

